# zip files
llm_python/fine-tuning/wandb
*.zip

experimental/oss-tuned-reasoning/*.json

tb.out

*.db.backup*
*.backup

submission*.json

# Environment variables
.env
.env.local
.env.*.local

*.log
logs/
llm_python/logs/
!llm_python/fine-tuning/logs/
!llm_python/fine-tuning/logs/**

*.db.wal

*.parquet 

tb.out

# models
llm_python/fine-tuning/.locks/
llm_python/fine-tuning/models--unsloth--Qwen3-4B/
llm_python/fine-tuning/unsloth_compiled_cache/
llm_python/fine-tuning/trainer_output/
llm_python/fine-tuning/lora_model/
llm_python/fine-tuning/compressed
llm_python/fine-tuning/downloads/
llm_python/fine-tuning/merged

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.egg-info/
dist/
build/

# UV
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project specific
output/
results/

gcs/

.mypy_cache/
.pytest_cache/

.ipynb_checkpoints/

.tmp/

**/*.db
