# Environment variables
.env
.env.local
.env.*.local

# models
llm-python/fine-tuning/.locks/
llm-python/fine-tuning/models--unsloth--Qwen3-4B/
llm-python/fine-tuning/unsloth_compiled_cache/
llm-python/fine-tuning/trainer_output/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.egg-info/
dist/
build/

# UV
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project specific
*.log
output/
results/

gcs/

.mypy_cache/
.pytest_cache/

logs/

.ipynb_checkpoints/
